<style>
    .small {
        width:200px;
        height:auto;
    }
</style>

<h1>Mvc from home.</h1>
<svg class="small" height="200" src="~/lib/font-awesome-svg-png/black/svg/angle-double-right.svg?v=123"></svg>